<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
    <httpRuntime/>
  </system.web>
  <system.serviceModel>
    <behaviors>
      <endpointBehaviors>
        <behavior name="ThePeopleWhoChat.Web.ChatAspNetAjaxBehavior">
          <enableWebScript/>
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true"/>
    <services>
      <service name="ThePeopleWhoChat.Web.Chat">
        <endpoint address="" behaviorConfiguration="ThePeopleWhoChat.Web.ChatAspNetAjaxBehavior" binding="webHttpBinding" contract="ThePeopleWhoChat.Web.Chat"/>
      </service>
    </services>
  </system.serviceModel>
</configuration>